sudo: true
language: cpp
addons:
  apt:
    packages:
    - gfortran
    - libbz2-dev
    - libblas-dev
    - liblapack-dev
    - libarpack2-dev
    - libnetcdf-dev
    - libfftw3-dev
    - netcdf-bin
    - clang
    - openmpi-bin
    - openmpi-common
    - libopenmpi-dev
# blocklist, does not work, man
branches:
  except:
  - circleci_py27
  - circleci_py34
  - circleci_py35
env:
  global:
    - secure: "cx6PP7IwjxsKw5Az1BQgv5S9b/LFfSNU+/GgdtFGedqLPFcg/GSKJcVVd9JyturgMmF27H3PdiYV5q8GrNVUj1VWkYJivwyXEOxDDlkDpN0DnOpczD6asPe/GskJr8DH29aZI+RNisPmExMDbU8Tiu9KE7oDx2sEnS6kcAIn8Jux/LIVC+TR8WpWlwPcoYMZwutIvdP+QdtSMHqQmj+9RR31c/L/qmQjXCziM5KPuWSIzg3wzILEMir1EsMTNLuoZ4fOeOGcP9zIC2WMW7KBekIUQSP75SK0WdLZgh7MnTYS9klGsTUwkGXNquD95+QKiC6Ru0C9WAZeyUJgZFJeKHmd91zi4zdDJpSSd0//7htn3IUhYoO6PY7fAqUgeT/jCij/w5VlBHqHnpxpEtxMoAeFFDnacJkay1Wh69gf2k1l6XzIjsB7+xLYxkF21DDyh5GTeWvTBnCBq82erzjRWnMTimSR75Bim9PVi7xmzmYkqn4EVsFCcubDaY0WX7oe4hEGf/ei7CeVkd09VOYxerZ5Ax+lCx3Y8cSo89PHJUMa3m95EKfrrng+HyjyxZoVzvoZ2T/0WLbbiOJd4OB3qccWfpZYrYI8MIER/AaI0oQhHtvgMNl+gUZpZm3Yr7ggVu6QWSw6UvwmXmG4gEscBIadj2dq4Gy86H4NFnWcBtc="
    - secure: "pW5WyZ4/H8yRJGZ3v58RbTu8/rP6wL3VOqbEUjs6O5vSqR+OFn7G2djTcZIoJwCWeU9yZwAqLLVgcswuVr0zLcPjvbPwakfdsGswfLPMlVw4T66ZSNSxcl7lv1YnaXCyTqkG1MXkVq95e8asiTBuSXt+cYPBYx+SncQ89qdxv6QqeYe4xsJmo9XbpX4TA2IvWgrWJ4qmQpe+F79qfJ4/7GZiaBe7CyYYUjcBLw106rP7pZAnVOeUF7V4EgMIO2Kt5vA0pO0uNbXwNQ0Xb1bQkjHXcfNy43nedjyqQHmMqtGafrEM7BUaBDqGetMEWwvzv1dtGpeOWD+6E7ku/VtwI07HHzOOp3sQeWQr4wIRxVY23lmyakzFghRcT8tls2qout4vGbjedVzMCyxBX2SuJKaT1qmRAEQ83v7SgBP9ZeL816XX9BcudyDjglWwViGnr/VZy1RlYVFDdUldBMjueyXRV4/l+bZK/z301zgtazjyEIagkHOPio/K7kTyqaTh5Z1zamINIy7wP5cHXv87a0mcZGAz4Y8ziCReR4uDuQAWyxgejgA2F4EX/ibgO5z6Jr0X8vmDIkFsrRM0UijYoGSH94pTxo7CEO9ApfOg6ODccReNciHgUFmh+a5O7M0kBaVWrQR2AAqEY/sc+58XzhP+EfUaofmI6ndji93cI6g="
    - secure: "GoUoRXLFmuNiHCg7g5yqmP7aCatjQ8ySkvYEutiID2YiX1Ei8GQnTAc6asPIGaAxfYCchn8jbdIVJoakESnkWfu+12pq865LOwJAE6h7KEYwT9qo1Alp9QiGV9be/fF7/5C4ciPfX3xGQtJkulALFLUY/NS07qDbsc8gDjg9RKxmW13Tc1q0vGlHZCaK4pH9SfC3t9VYsYXXc9GWfeUviB/I9QaktvEvX1LjyqJialeSsyIEWwLEv7XVudXHZVfyv5BgvyzjTKDqwJuPOb/QXDFf4NjPpQZtb9ejffwrjW9fqtrMTgwFACwcuam3GqsiIKHs/wDXn+RnnffWt60Qjo+WN1bFyXb6MtWZ8E3huCbYkMRItce8tl0APFc95QmafQIQUunZLDamXMzOtgVCBL3mds6tByIJmaxAnvSXWsP31J94kxJuE9uF1B5qRPFoRFKqXP1Ddme3idCZaY1nut7AQE5icF92YQtKZx+wuEoTvC7Hc8Sh/5TPM5OkO54hnUpjhifCHez7CwRf3fhM/jRAZwy3EizOYtVfXuqydKgFtvAWSPCUnKsGG+GSBD5vdPg6R90RlWwFta6+CbA8T+uiQI70zb0sj1Ho+w7T//wrx3H/++MEBzq1tcjDRdJ8S7h0RxkLLPGTIcPwSAErAR/0SR7YW4bYuVJtUhjLX5k="
    - secure: "WleXwRv9+OAItQhhAXYj5Au6f7onkQ5eQSmJETN901tVZL1AVmc4CPt5CPQ/hY7VWGjCT9FTCIJ/2/XuqamfVs3pI76YuAEDsyvCRIvYHq9QyrFm0gy0QAQd7cmkBCpGyjxA1IsTGG1Y4J1cLALE4a9ugm8GLqD2mYHJOiMqbH44DLciF7/yoM+Mk41/j8ultmjZQ+/WINIB0EfdfpQUG5iFOROaGRdhi+TmkhhaheXuDf35JcB+6bIUazUv+CC5tQE7exEDc8o6bXPTjNaIE4XaqAQ9b9SGXSGsEMWrVwP7Oa1MeaqGFgNRxxlFySsCWHbkgRaSqOOzYCi4YP2Tqjb89HekHvdADkG0vbkV8O3tdKetIJBoyk1LCAMZuMCLGyLU5OupdaTNpiPfVURDEGXszG+IhKJ6l2btmadbgrQrVa7xViiWQlgg8uWLM0jfRvMcH8zNaKstxXWb7Czl/jkkwTyazkhqkE4pr5HNW65m2gF6+yrkCvuQ5QajScN90QhH+1rmRNBqbgZbXvtiDz6wzzjSFhiqe37KCXhynrZfKxZqolkSqBvosgyvSRQWWjIUAtc6H6whIiwe5M/k/bvxYyKqgGV0JItTxibttMma14wbKLl6rENMddZQdHpvkdlCzOZB34UZpXVEb0vpvZNfLt52kj2EF9nUG4s0lQ8="
    - secure: "OS+aaTXjPf4fxp0yA0T4sQLYMH8BVxOBWYIZ+/u0SbdxE8Grz1gQvK2h6sZpCxG5TVIlNeYSK6lbons/HNkgt0HGXz17OhlsgE77/QlasiNoYQZxY9iS9EDp2MPBpHTndtodbPtfwoTRCwnlXjJDdYBurH6iW6aTObBWFmCy/4iqcqE7x94jjLv7Ec6t7HkUvJtFdtjZ6iu6N24YoDfg2m1V5skGi5ehiT2ALgdFqPYmZQuPBTJ0LGtE1eg4q7eMK7TaZyq34IekXCtXC0SD7QYMkp5QoDM3lELEXGkFCOWdjklon/z5ImaWUjmNubiyjnVIqUwkFX59F36+nnS/B3uaYgPc3NWBf49G73pErBKorpIpkx8UzufYQk0xAANCL2nQjKtnUzUQtPwZWOMHQX9xb13fUcJl0z2KXK4O4EQlMdEyJMzb4QKqXtT2e3EWYKnZOkkKwvELDrhnZ2iduvW8xCcpmRvzkZE2F4W5rlx8kB84s6OniE+bOPnWOhp8FIwMMX4lP1gsTqz/1BWrh+d2cT+1tqQMbOMjI5j489odAXZgboL85szVYQkKvJlZyqLFf5ob6HsXOxZaSvv3n0KpXsrLj/mK2RrFa3vSSd2OVyOxjmKuvbDVRrCrWrZiTSSik10wBYjLUV8QfpnwNrmmVLdKKUgsKdQ6mixY61A="

matrix:
  include:
    - { os: linux, env: AMBER_BUILD_TASK=ambermini PYTHON_VERSION=2.7 }
    # - { os: osx, env: AMBER_BUILD_TASK=ambermini PYTHON_VERSION=2.7 }
    # - { os: osx, env: AMBER_BUILD_TASK=ambermini PYTHON_VERSION=3.4 }
    # - { os: osx, env: AMBER_BUILD_TASK=ambermini PYTHON_VERSION=3.5 }
    # - { os: osx, env: AMBER_BUILD_TASK=ambertools PYTHON_VERSION=2.7 }

install:
 - export PATH=$HOME/miniconda3/bin/:$PATH
 - export SKIP_REGISTRATION=True
 # - python scripts/travis_build.py
 - scripts/install_miniconda.sh
 - touch $HOME/conda-bld/linux-64/ambermini101-16.20-py25_1.tar.bz2
 - touch $HOME/conda-bld/linux-64/ambermini101-16.20-py34_1.tar.bz2
 - touch $HOME/conda-bld/linux-64/ambermini101-16.20-py35_1.tar.bz2
script: echo "hello"
after_success:
  - python scripts/upload_to_github.py
notifications:
  email: false
